@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
}
body{
     background-color: #eef3ff;
}
header {
    background-color: black;
    width: 100%;
    border-radius: 0 0 50px 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #5039f7, #9810fa);
    gap: 10px;

    div {
        background-color: white;
        height: 100px;
        width: 200px;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 20px;
    }
}

.head-word {
    font-size: 1rem;
}

.head-icon {
    border-radius: 50%;
    padding: 5px;
}

.income span:first-child {
    background-color: #75FB4C20;
    color: #249801;
}

.expense span:first-child {
    background-color: #EA332320;
    color: #EA3323;
}

.balance span:first-child {
    background-color: #0000F520;
    color: #0000F5;
}

.income span:last-child {
    color: #249801;
}

.expense span:last-child {
    color: #EA3323;
}

.balance span:last-child {
    color: #0000F5;
}
.exp{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 20px;
}
.exp-part2{
    display: flex;
    align-items: center;
    gap: 10px;    
    span{
        display: inline-block;
    }
}
.exp-delete{
    display: block;
    cursor: pointer;
}
.exp-info{
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(59, 59, 59);
    font-size: 0.9rem;
    font-weight: 300;
}
.mid{
    display: inline-block;
    height:5px;
    width: 5px;
    background-color: gray;
    border-radius: 50%;
}
.expense-list{
    padding: 20px;
}
.exp{
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.200);
    margin-bottom: 10px;
}
.add-butt{
    background-color: #9810fa;
    border: none;
    outline: none;
    font-size: 3rem;
    font-weight: 200;
    border-radius: 50%;
    padding: 0 20px;
    position: absolute;
    bottom: 50px;
    right: 30px;
    
}
.input{
    width: 400px;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    gap: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   
}
.hide-input{
    display: none;
}
.exp-na-in,.exp-am-in{
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-bottom: 1px solid;
    background-color: transparent;
}
.submit{
    background-color: white;
    outline: none;
    border: 1px solid gray;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 20px;
}